/vendor
/node_modules
/public/storage
/uploads/avatars/*
/uploads/images/*
/uploads/images/small/*
/uploads/mark/*
/uploads/usedcars/small/*
/uploads/usedcars/big/*
Homestead.yaml
Homestead.json
.env
/nbproject/private/
/.idea
/nbproject
/config/database.php
