@font-face {
    font-family: FontAwesome;
    src: local("FontAwesome.otf"),
    url(/fonts/FontAwesome.otf); }
@font-face {
    font-family: rouble;
    src: local("rouble.otf"),
    url(/fonts/rouble.otf); }
@font-face {
    font-family: RobotoBlack;
    src: local("RobotoBlack.ttf"),
    url(/fonts/RobotoBlack.ttf); }
@font-face {
    font-family: RobotoBold;
    src: local("RobotoBold.ttf"),
    url(/fonts/RobotoBold.ttf); }
@font-face {
    font-family: RobotoMedium;
    src: local("RobotoMedium.ttf"),
    url(/fonts/RobotoMedium.ttf); }
input, textarea, button, select {outline:none;vertical-align: middle;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;outline:none;}
a {color: #333333;text-decoration: none;cursor:pointer;}
button strong, button span {transition: all .3s ease 0s;}
strong {font-weight:300;font-family:RobotoBold;}
.fl_l{float:left;} .fl_r{float:right;} .fl_n{float:none;}
.disp_bl{display:block;} .disp_n {display:none;} .disp_ib {display:inline-block;}
.clear{clear:both;}
.w100{width:100%;}
.ta_c{text-align:center;} .ta_j{text-align:justify;} .ta_r{text-align:right;} .ta_l{text-align:left;}
.posRel {position:relative;} .posAbs {position:absolute;} .posFix{position:fixed;}
.fa {display: inline-block;font-family: FontAwesome; font-style: normal;font-weight: normal;line-height: 1; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
h1, h2, h3, h4 {margin:0px;padding:0px;font-weight:300;}
h1 {font-family:RobotoMedium;font-size:30px;line-height:25px;color:#000000;margin:15px 0;}
h2 {font-family:RobotoMedium;font-size:24px;line-height:25px;color:#000000;margin:15px 0;}
h3 {font-family:RobotoMedium;font-size:20px;line-height:25px;color:#000000;margin:15px 0;}
ul {margin: 0;padding: 0;list-style: none;-webkit-margin-before: 0;-webkit-margin-after: 0;}
img { max-width: 100%;  height: auto; vertical-align: middle;  border: 0; }
p {}
b {font-weight:100;}
button{background: transparent; border: 0; overflow: visible; cursor: pointer; padding: 0; margin: 0; width: auto;}

html{height: 100%;width: 100%;margin:0;-webkit-tap-highlight-color: rgba(0,0,0,0);min-height: 100%;}
body { background: #ffffff;font-family:'Roboto', Arial, Helvetica, sans-serif;font-size: 14px; color: #333333;position: relative;-webkit-text-size-adjust: none;margin:0;min-height: 100%;}
section.grey {background:#eef0f1;position:relative;padding:5px 0;}
section.grey:before {content: '';width: 100%;height: 15px;position: absolute;top: 0;left: 0; background: url(/images/shadow_down.png) top repeat-x;z-index: 1;}
.main_width {width:1000px;padding:0 30px;margin:0 auto;position:relative;}
.row:after {clear:both;display: table; content: ""; line-height: 0;}
.site_wrapper {position: relative;min-height: 100%;padding-bottom:80px;}
.btn {font-family:RobotoBold;text-transform:uppercase;text-align:center;line-height:38px;width:200px;background:#326bb2;color:#fff;border: none;border-radius:19px;cursor:pointer;transition: all .3s ease 0s;display:inline-block;}
.btn:hover {background:#93cf1e;color:#000;}
.btn.green {background:#93cf1e;color:#000;}
.btn.green:hover {background:#326bb2;color:#fff;}
.form_control {background: #fff;display: block;border: 1px solid #b6b6b6;width:100%;line-height:35px;padding: 0 10px;position:relative;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;font-size:12px;}
.form_control::placeholder{color: #747474;}
.form_control:focus::placeholder {opacity:0;}


.top{background:#fff;line-height:19px;padding: 18px 0;font-size: 18px; height: 88px;}
.top .address {width:260px;float:left;}
.top .phone {width:230px;float:left;padding-left:35px;}
.top .phone a {font-size:24px;}
.top .phone span {font-size:12px;color:#808890;}
.top .btn {float:right;}

.header {height:62px;background:#215597;}
.header nav{background: #326bb2; width: 100%; position: absolute; left: 0; top: -13px; height: 75px; border-bottom: 13px solid #fff;padding-top:17px;}
.header a.logo {margin-left:30px;}
.header nav ul{float: right;}
.header nav ul li {float: left;line-height: 26px;padding: 0 30px;border-right:1px solid #808890;}
.header nav ul li:last-child{border:none;}
.header nav ul li a {font-family:RobotoBold;color:#fff;text-transform:uppercase;}
.header nav ul li a:hover {color: #beeafc;}
.nav_mobile {display:none;}
.main_marks {padding:10px 0px;position:relative;}
.main_marks ul {float:left;max-width:120px;min-width:117px;}
.main_marks ul li {line-height:32px;}
.main_marks a{color:#326bb2;font-size:16px;font-family:RobotoBold;} 
.main_marks ul li span {font-size:10px;color:#747474;margin-left:2px;}
.main_marks a.allmarks {position:absolute;right: 42px;bottom: 20px;}

.main_banner {width:100%;height:310px;background:#ccc;}

.search_bloсk_container {margin-top:10px;}
.search_bloсk {display:inline-block;float:left;width:180px;position:relative;}
.select .dropcontainer {position:absolute;background:transparent;border:none;width:100%;font-size: 14px;line-height:50px;z-index: 1;}

.select .trigger {background: #fff;display: block;border: 1px solid #b6b6b6;width:100%;line-height:50px;padding: 0 25px 0 10px;color:#747474;position:relative;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.search_bloсk.select .trigger {border-right:0;}
.select:first-child .trigger {border-radius:5px 0 0 5px;}
.select .trigger:after {content:'\f107';font-family:FontAwesome;position: absolute; right: 10px;font-weight: bold;}
.select.disabled .trigger {cursor:default;pointer-events: none;}
.select .activetrigger {background: #fff;display: block;border: 1px solid #b6b6b6;width:100%;line-height:50px;padding: 0 25px 0 10px;color:#747474;position:relative;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.search_bloсk.select .activetrigger {border-right:0;}
.select:first-child .activetrigger {border-radius:5px 0 0 0;}
.select .activetrigger:after {content:'\f106';font-family:FontAwesome;position: absolute; right: 10px;font-weight: bold;}
.select .dropcontainer ul {margin-top: -1px;margin-right: -1px;background: #fff;border: 1px solid #b6b6b6;border-top: 0}
.select .dropcontainer ul li {margin:0px;line-height:25px;cursor:pointer;padding:5px 15px;width:100%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.select .dropcontainer ul li:hover {background: #326bb2;outline: none;color:#fff;}
.select .dropcontainer ul li:hover a{color:#fff;}
.select .dropcontainer ul li:first-child {display: none;}
.select .dropdownhidden {display: none;}
.select .dropdownvisible {height: auto;}

/*select 2*/
.search_bloсk .select2-container .select2-selection--single {height: 52px;width: 180px; }
.search_bloсk .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 50px;}
.search_bloсk .select2-container--default .select2-selection--single .select2-selection__arrow {height: 50px;}
.search_bloсk .select2-container--default .select2-selection--single .select2-selection__rendered {color: #747474;}
.search_bloсk .select2-container--default .select2-results__option--highlighted[aria-selected] {background-color: #326bb2;}
.search_bloсk .select:first-child .select2-container--default .select2-selection--single{border-radius:4px 0 0 4px;}
.search_bloсk .select2-container .select2-selection--single .select2-selection__rendered {padding-left: 15px;}
.search_bloсk:first-of-type .select2-container--default .select2-selection--single{border-radius:19px 0 0 19px;}
.search_bloсk .select2-container--default.select2-container--disabled .select2-selection--single span{opacity:0.5}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before{font-family:FontAwesome;content: "\f107";font-size: 16px;font-weight: bold;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before{font-family:FontAwesome;content: "\f106";font-size: 16px;font-weight: bold;}

.search_bloсk .form_control {background: #fff;display: block;border: 1px solid #b6b6b6;border-right:0;width:100%;line-height:50px;padding: 0 25px 0 15px;color:#747474;position:relative;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.search_bloсk .form_control:focus::placeholder {opacity:0;}
.search_bloсk .btn {border-radius:0 19px 19px 0;line-height:50px;width: 220px;}

.index_items_list {margin-left:-10px;margin-right:-10px;}
.item {float:left;display:inline-block;padding:0 10px 20px 10px;width: 240px;}
.item_container{height:320px;border-radius:19px;border:1px solid #e1e1e1;box-shadow:0 0 10px rgba(0, 0, 0, 0.35);padding:10px;background:#fff;display:block;}
.item_container .item_pic {height:135px;text-align:center;    background-repeat: no-repeat; background-position: center; background-size: cover;}
.item_container .item_pic img {max-height:100%;}
.item_container .item_name {display: inline-block;padding: 10px 0; font-family: RobotoBold;font-size: 18px; color: #111;line-height: 20px;height: 60px;}
.item_container .idem_desc p {font-size: 13px;line-height: 15px;margin: 0;}
.item_container .item_price {font-family: RobotoBold;font-size: 18px; color: #111;margin:2px 0 10px;}
.item_container .item_price span {font-size: 14px; margin-left: 3px;}

.quantity_cars_block {float:right;width:220px;margin:0 10px 20px 10px;}
.quantity_cars_block .item_container{border: solid 5px #93cf1f;padding:0;}
.quantity_cars_block table tr td {text-align:center;vertical-align:middle;height: 103px;background:#93cf1f;}
.quantity_cars_block table tr:first-of-type td {background:#326bb2;border-radius: 14px 14px 0 0;}
.quantity_cars_block table tr:last-of-type td {background:#fff;border-radius: 0 0 14px 14px ;}

.autocode{background:url('/images/autocode.jpg') center no-repeat;width:100%;height:100px;margin-top: 22px;}
.more_cars {float: right; margin-right: 18px;}


.item .item_btn {display: block;text-align:center;text-transform:uppercase;font-size:10px;font-family:RobotoBlack;color:#646464;border:3px solid #326bb2;border-radius:2px;line-height:19px;margin-top:10px;transition: all .3s ease 0s;}
.item .item_btn:hover {background:#326bb2;color:#fff;}

.page {padding-top:35px;padding-bottom:15px;}
.breadcrumbs {font-size:12px;color:#808890;}
.breadcrumbs a {color:#215597;}
.breadcrumbs a:hover {text-decoration:underline;}
.page section {display:inline-block; width: 100%;}

.items_list {margin-left: -10px; margin-right: -10px;}
.items_list .more_cars {margin-right: 5px;}
.right_banner_block {float:right;height: 462px;}
.left_content {    width: 720px;}


.detail {display:inline-block;float:left;width:620px;color: #646464;}
.sidebar {display:inline-block;float:right;width: 290px;}
.mentions .sidebar {width:220px;}
.detail_image_block {width:290px;float:left;margin-right:30px;}
ul.more_pics {margin-left:-5px;margin-right:-5px;}
ul.more_pics li {float:left;margin:10px 5px;width:91px;}

.detail_main_info {display:inline-block;}
.detail_price{color:#326bb2;font-size:28px;line-height: 19px;font-family:RobotoBlack;margin-bottom:10px;}
.detail_main_info ul li{padding:0 20px;font-size:12px;line-height:30px;color:#646464;}
.detail_main_info ul li:nth-child(odd) {background:#f5f5f5;}
.detail_main_info ul li span {display:inline-block;width:120px;}
.detail_banners {margin:0px -3px;}
.detail_banners>div {display:inline-block;margin:45px 3px;}
.detail section {margin-bottom:20px;}
ul.detail_options li{float: left;width: 50%;position:relative;padding-left:20px;line-height: 24px;}
ul.detail_options li:before, ul.detail_options li:after{font-family:FontAwesome;position:absolute;left:0px;font-size: 10px;color: #326bb2;}
ul.detail_options li:before	{content:'\f0de';top: 1px;}
ul.detail_options li:after {content:'\f0dd';top: -1px;}

.request_form {padding:15px;border-radius:5px;background:#326bb2;margin-bottom:55px;}
.request_form .btn {width:100%;}
.request_form .select2-container .select2-selection--single, .request_form .select2-container--default .select2-selection--single .select2-selection__arrow {height: 38px;border:none;border-radius: 4px;}
.request_form .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 38px;}
.auth_form {width: 400px;margin: 0 auto;}
.request_form.auth_form .btn {width: 48%;float: left;margin:1%;}
.auth_form .tradein_check{padding: 10px 0;}
.auth_form .checkbox:not(checked) + label {color: #fff;}


.form_title {text-align:center;color:#fff;font-family:RobotoBold;font-size:20px;line-height:19px;margin-bottom:10px;}
.form_field {margin-bottom:5px;position:relative;}
.form_field_age {width:100px;float: left;}
.form_field_phone {width:155px;float:right;}
.form_field input.form_control {background:#fff;border:none;border-radius:5px;line-height:38px;padding:0 10px;width:100%;border: 1px solid #b6b6b6;}
.form_field input.form_control::placeholder{color:#747474;}
input.form_control:focus::placeholder {opacity:0;}

.form_field .dropcontainer {position:absolute;background:transparent;border:none;width:100%;font-size: 14px;line-height:38px;z-index:1;}
.form_field .trigger {display:block;width:100%;background:#fff;border:none;border-radius:5px;line-height:38px;color:#bfbfbf;padding:0 10px;width:100%;position:relative;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.form_field .trigger:after {content:'\f107';font-family:FontAwesome;position: absolute; right: 10px;font-weight: bold;color:#bfbfbf;}
.form_field .activetrigger {display:block;width:100%;background:#fff;border:none;border-radius:5px;line-height:38px;color:#bfbfbf;padding:0 10px;width:100%;position:relative;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.form_field .activetrigger:after {content:'\f106';font-family:FontAwesome;position: absolute; right: 10px;font-weight: bold;color:#bfbfbf;}
.form_field .dropcontainer ul {margin: -4px -1px;background: #fff;border: 1px solid #ee8015;border-top: 0;}
.form_field .dropcontainer ul li {margin:0px;line-height:25px;cursor:pointer;padding:5px 15px;width:100%;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.form_field .dropcontainer ul li:hover {background: #f5f5f5;outline: none;}
.form_field .dropcontainer ul li:first-child {display: none;}
.form_field .dropdownhidden {display: none;}
.form_field .dropdownvisible {height: auto;}

.feedback_form {padding:15px;border-radius:5px;border: 1px solid #b6b6b6;}
.feedback_form .form_title {color:#808890;font-family:RobotoMedium;font-size:24px;}
.feedback_form .btn {width:100%;}
.feedback_form .form_control {background: #fff;display: block;border: 1px solid #b6b6b6;width:100%;line-height:38px;padding: 0 25px 0 10px;color:#747474;margin-bottom:10px;border-radius:5px;}
.feedback_form .form_control:focus::placeholder {opacity:0;}

.mentions_list {width:700px;float:left;}
.mentions_list ul li.review_item {position:relative;border-bottom:1px solid #b6b6b6; padding-bottom:20px;margin-bottom:20px;color:#595959;}
.mention_pic{ float: left;width: 220px; margin-right: 20px;}
.mention_text{display: inline-block;width: 460px;}
.mention_title {color:#326bb2;font-size:24px;font-family:RobotoMedium;margin-bottom:15px;line-height: 16px;height: 25px;width:380px;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.mention_date {position:absolute;right:0;top:0;font-size:12px;line-height: 16px;}
.pager {text-align:center;}
.pager .pagination li {display: inline;}
.pager .pagination a, .pager .pagination span {display:inline-block;background:#326bb2;color:#fff;text-align:center;width:48px;line-height:48px;margin:5px;border-radius:5px;transition: all .3s ease 0s;}
.pager .pagination li.active span{background:#93cf1e;color: #000;}
.pager .pagination li.disabled span { background: #808890;}
.pager .pagination a:hover {background:#93cf1e;  color: #000}


.map {padding-bottom:0px;border:1px solid #d7d7d7;border-radius:5px;color:#767676;margin-bottom:30px;}
.map>div {padding:15px;border-bottom:#d7d7d7;padding-bottom:0px;}
.map .address, .map .times {margin-bottom:10px;}
.map .address:before, .map .times:before{font-family:FontAwesome;margin-right: 7px;margin-bottom: 15px;display: inline-block; float: left; line-height: 22px;}
.map .address:before{content: "\f041";}
.map .times:before{content: "\f017";}


.tradein {float:left;width:400px;margin-right:20px;margin-bottom:70px;}
.tradein .select {position:relative;margin-bottom: 10px;}
.tradein .select .trigger{border-radius:5px;}
.tradein .select .activetrigger {border-radius:5px 5px 0 0;}
.tradein .select .dropcontainer ul{margin-right: 0px;}
.tradein .select .form_control {line-height: 38px;}
.tradein .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 38px;font-size: 12px;}
.tradein .select2-container--default .select2-selection--single .select2-selection__arrow {height:38px;}
.tradein .select2-container .select2-selection--single {height:38px;border: 1px solid #aaa;border-radius:4px;}

.autoredit {float:left;width:400px;margin-right:60px;margin-bottom:20px;}
.autoredit .select {position:relative;margin-bottom: 10px;}
.autoredit .select .trigger{border-radius:5px;}
.autoredit .select .activetrigger {border-radius:5px 5px 0 0;}
.autoredit .select .dropcontainer ul{margin-right: 0px;}
.select .form_control {background: #fff;display: block; border: 1px solid #b6b6b6;width: 100%; line-height: 50px;padding: 0 25px 0 10px;color: #747474;border-radius:5px;}
.autoredit .btn, .tradein .btn {width:100%;}
.newcar {background:url('/images/car_bg.png') bottom no-repeat;height: 380px;}
.condition li{position:relative;padding-left:20px;line-height: 15px; color: #4b423e; margin-bottom: 14px;}
.condition li:before{position:absolute;left:0px;font-size: 10px;color: #326bb2;}
.condition li:before{content:'—';top: 1px;}
.logos {margin-bottom:20px;}
.autoredit .select .form_control {line-height: 38px;}
.autoredit .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 38px;font-size: 12px;}
.autoredit .select2-container--default .select2-selection--single .select2-selection__arrow {height:38px;}
.autoredit .select2-container .select2-selection--single {height:38px;border: 1px solid #aaa;border-radius:4px;}

.contacts_info {width:480px;float:left;}
.contacts_map{float: right;margin-top: -45px;}
.contacts_info .phones a {color:#595959;font-family:RobotoBold;font-size:24px; margin-right: 5px;line-height: 35px;}
.contacts_info .phones span {color:#595959;font-size:16px;}
.contacts_info .recall_link {display:inline-block;width:270px;margin:20px 0;}


.checkboxes>div {margin-bottom:10px;}
.checkbox {vertical-align: top;width: 15px;height: 15px;margin: 0 3px 0 0;}
.checkbox + label {cursor: pointer;}
.checkbox:not(checked) { position: absolute; opacity: 0;}
.checkbox:not(checked) + label {position: relative;padding: 0 0 0 25px;color: #747474;display: inline-block;}
.checkbox:not(checked) + label:before { content: ''; position: absolute; top: 2px;left: 0; width: 13px; height: 13px;border: 1px solid #b6b6b6;background: #FFF;}
.checkbox:not(checked) + label:after {content: '';position: absolute; top: 5px;left: 3px; width: 9px;height: 9px;background: #fff;transition: all .2s;}
.checkbox:checked + label:after {background:#326bb2;}

/*file*/
.file-upload input[type="file"]{ display: none;}
.file-upload { position: relative; overflow: hidden; width: 400px;color: #b6b6b6; }
.file-upload:before {content:'\f030';font-family:FontAwesome;}
.file-upload label { display: block; position: absolute; top: 0; left: 25px; width: 100%; height: 100%; cursor: pointer; }
.preview-img{ max-width:100px; max-height:100px; margin:10px 0; }

/*popup*/
.popup_form_wrapper {position:fixed;width:100%;height:100%;background: rgba(17, 17, 17, 0.5);left: 0;top: 0;z-index: 98;display:none;}
.popup_form {width:280px;background: #fff;}
.popup_form h3 {text-align:center;}
.form_field {margin-bottom:5px;position: relative;font-size: 12px;}
.form_field .formError {top: 33px !important; left: 0 !important;}
.popup_form .select2 {font-size:12px; margin-bottom: 5px;}
.popup_form .select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 30px;}
.popup_form .select2-container--default .select2-selection--single .select2-selection__arrow {height: 35px;}
.popup_form .select2-container .select2-selection--single {height: 35px;}
.popup_form .select2-search--dropdown {display:inline-block}
.popup_form .call_time label {float: left;line-height: 35px; }
.popup_form .call_time .fl_l {margin-left: 5px;position:relative;}
.popup_form .call_time .select2-container .select2-selection--single{width:69px;border: 1px solid #aaa;border-radius: 5px;}
.popup_form .btn {width: 100%;}
#wrapper { width: 640px; margin: 0 auto; padding:90px 0 0 0; }
#inline { display: none; }
input.error, textarea.error { border-color: #973d3d; border-style: solid; background: #f0bebe; color: #a35959; }
input.error:focus, textarea.error:focus { border-color: #973d3d; color: #a35959; }



footer {background:#808890;color:#fff;padding:20px 0;height:80px;position:absolute;left:0;bottom:0;width:100%;}
footer .address {float:left;padding-left:25px;}
footer .phone {width:208px;float:left;line-height: 26px;text-align:right;}
footer .phone a {font-size:24px;color:#fff;}
footer a.logo {float:left;padding: 5px 0;}


/*mobile*/
@media only screen and (max-device-width: 480px) {
h1 {font-size:24px;text-align: center;}	
h2{font-size:18px;text-align: center;}
h3{font-size:16px;}
h4{font-size:14px;}
h1.main_title {font-size:24px;font-weight:400;}
h3.main_title  {font-size:14px;line-height: 40px;}
.page_wrapper {padding:15px 10px;}
.index_block_title {font-size:24px;margin-bottom:15px;text-align:center;}
.banner_title{line-height: 25px;}	
.form .inputtext {font-size:12px;padding: 5px 10px;margin-top: 3px;margin-bottom: 1px;}
.form .btn {font-size: 10px;line-height: 25px;}
.site_wrapper.index_page {background-image:url(images/main_banner_mobile.jpg);}
.main_width {width:100%;padding: 0 15px;}
header {position:relative;}
header .top {display:none;}

.header nav {top:0;height: 62px;border:none;}
.header nav ul {display:none;}
.header a.logo {margin-left:15px;}

header nav.top_menu {display:none;}	
header .header_phone {float:left;width: 120px;}
header .header_phone .phone_number {font-size: 16px;padding-left: 20px;}
header .header_phone .phone_number:before{width: 15px;height: 16px;top:0;}
header .header_phone .btn {font-size:10px;}
header .nav_mobile {display:block;float: right; margin-right: 10px;position: relative;margin-top: 13px;}
header .nav_mobile_ico {display:inline-block;width:35px;height:35px;}
header .nav_mobile_ico:after {display:block;font-family:FontAwesome; content: "\f0c9";color:#93cf1e; font-size: 39px;}
header .nav_mobile_content{position: fixed;top: 0;left: -275px; width: 275px;height: 100%; background: #fff; z-index: 1000;overflow-y: auto; -webkit-transition: left .4s ease-in-out; -moz-transition: left .4s ease-in-out; -ms-transition: left .4s ease-in-out; -o-transition: left .4s ease-in-out;transition: left .4s ease-in-out;}
header .nav_mobile_content.visible {left: 0;}
header .nav_mobile_content nav {position:relative;background:#fff;height:auto;}
header .nav_mobile_content nav ul {display:block;float:none;}
header .nav_mobile_content nav ul li {float:none;border-bottom:1px solid #aaa;border-right:none;padding:0 15px;}
header .nav_mobile_content ul li a {display: block;position: relative;height: 43px;padding: 10px 0px;text-transform: uppercase;color:#000;}

header .mobile_nav_header{background:#326bb2;height:62px;position:relative;}
header .mobile_nav_header .nav_mobile_ico {position:absolute;bottom:14px;right: 10px;}
header .mobile_nav_header .logo {position:absolute;top: 15px;left: 15px;margin-left:0;}
header .nav_mobile_content .mobile_info {padding:15px; font-size: 16px;}
header .nav_mobile_content .mobile_info .phone {margin-top: 15px;}
header .nav_mobile_content .mobile_info .phone a {font-size:24px;}
header .nav_mobile_content .mobile_info .phone span {font-size:12px;color:#808890;}
.shadow_layer{position: fixed;top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8);z-index: 999;}

.breadcrumbs { margin: 15px 0;}

.main_banner {display:none;}
.main_marks ul {width:33.3333%;min-width: 115px;}
.search_bloсk_container {padding-bottom:15px;}
.search_bloсk {width:100%;}
.select2-container {font-size:16px !important;}
.search_bloсk .select2-container .select2-selection--single {width:100%;border-radius:0 !important;border: 1px solid #aaa;}
.search_bloсk .form_control {border: 1px solid #aaa;font-size:16px;}
.search_bloсk .select2-container--default .select2-selection--single .select2-selection__arrow {width: 50px;}
.search_bloсk .btn {width: 100%;margin-top: 10px;font-size: 16px;border-radius:19px;}

.quantity_cars_block {display:none;}
.item {width:50%;}
.item_container {height: 340px;}
.item_container .item_name {font-size:14px;}
.item .btn {width:100%;}
.form {width:240px;padding: 8px;}
.form_title {font-size:24px;}	
.select_2 {font-size:12px;margin: 1px 0;}
.select_2 .trigger, .select_2 .activetrigger{padding: 4px 10px;}
.form label {font-size: 10px;}
.form .checkbox:not(checked) + label:before {height: 14px;width: 20px;}
.form .checkbox:not(checked) + label:after{width: 14px;height: 8px;}
.form .checkbox:not(checked) + label {padding: 0 0 0 30px;font-size: 9px;}
.form .confident {margin-top: 1px;margin-bottom: 1px;}
.go_bot {display:none;}
.directions_link {background:none;}
.page_wrapper .directions_link .center_no_line {width:100%;padding:0;}
.achievements_block {padding: 20px 10px; height: 470px;}
.achievements_block h3 {font-size:20px;}
.achievements_list {float:none;width:100%;padding:0;}
.achievements_list ul {margin-top: 15px;}
.achievements_list ul li { font-size: 14px; padding-left: 30px; margin: 8px 0;}
.achievements_list ul li:before {width: 21px; height: 21px;top: 0px;background-size: contain;}
.counter_block {float:none;width:100%; padding-top: 25px;}
.counter_block b {font-size:20px;}
.counter span {font-size: 42px;width: 35px;line-height: 61px;background-size: contain;}
.directions_block {height:560px;background:url(images/directions_block_bg_mobile.jpg);}
.directions_block ul li {width:50%;padding:0 10px 10px;}
.directions_photo {height: 105px;}
.directions_block ul li a {font-size: 16px;}
.directions_link .btn {font-size:18px;}
.directions_list li {width:100%;}
.directions_list .directions_photo {height: 220px;}
.direction_detail .sidebar {width: 100%;display: block;margin-bottom: 25px;}
.direction_detail_image {float: none; margin: 15px auto; display: block;}

.tradein, .autoredit, .mentions_list {float: none; width: 100%;margin-right: 0;}
.detail_banners {display:none;}
.detail, .detail_image_block, .detail_main_info, .sidebar, .mentions .sidebar, .left_content{width:100%;float:none;margin-right:0;}
.mentions .sidebar {padding:10px 0;}

.detail_price {    text-align: center;margin-top:20px;}
.services_block {padding: 20px 0;}
.services_main_image {width: 100%; height: 200px;}
.services_main_text{width: 100%;float: none;position: absolute;height: 200px;padding: 35px 15px 15px;color: #fff;background: rgba(17, 17, 17, 0.5);   border-radius: 10px;}
.services_main_text h3 {font-size:18px;}
.services_main_text p{line-height: 14px;font-size: 12px;}
.services_block .btn {display:none;}
.services_block .btn {display:none;}
.services_list {margin:0;}
.services_list li {width:100%;float:none; padding: 10px 0;}
.services_list .services_photo {height: 220px;}
.services_hidden_text {padding: 5px 15px;display:none;}
.services_hidden_text h4 {font-size:20px;line-height: 20px;}
.services_list li:hover a.services_name {visibility:visible;}

.slider {display:none;}
.mobile_slider {display:block;}
.owl-nav {display:none;}
.services_slider .slide a {font-size:12px;}

.inform_block ul li {width:50%;padding: 0px 10px 15px;line-height: 16px;}
.inform_photo {height: 95px;background-size: cover;}
.inform_block ul li a {font-size: 12px;line-height: 16px;}
.information_list li {width:100%}
.news_detail_image{ float: none; margin: 0 auto 15px; display: block;}
.news_detail .news_date{position:relative;margin-top: -10px;float: right;}

.bottom_block {padding: 10px 0 20px;}
.bottom_block h3 {font-size:24px;display:block;width:100%;}
.bottom_block .btn {width: 310px;font-size: 18px;margin: 10px auto;}

.text_detail_image {float: none; margin: 15px auto; display: block;}
.text_page {margin-bottom: 10px; max-width: 100%;overflow-x: scroll;}  

#map {width:100% !important;margin-left:0 !important;margin-right:0 !important;}

footer {}
footer .address {display:none;}
footer .phone {width:170px;line-height: 20px;}
footer .phone a {font-size:20px;}
.recall_form {width: 320px;margin-left: -160px;}

.page_404 {width: 240px;height: 460px;margin-left: -120px;margin-top: -230px;}
.left_404 {float:none;}
.right_404 {float:none;width:240px;margin-top: 45px;}
.right_404_1 {font-size:32px;}
.right_404_2 {font-size:92px;line-height: 90px;}
.right_404_3 {font-size:203px;line-height: 150px;}
.left_404 .backto{ top: 420px;left: 0;}
}
@media only screen and (max-device-width: 360px)
{
.specialty_tabs .tabs li{z-index:3;}
.specialty_tabs .tabs li+li {margin-left:-5px;z-index:2;}
.specialty_tabs .tabs li+li+li {z-index:1;}
.specialty_tabs .tabs li.active {z-index:4;}}







.info, .success, .warning, .alert-danger, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/images/warning.png');
}
.alert-danger {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error.png');
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('images/validation.png');
}

.close {

    float: right;
}

.search{
    position:relative;
}

.search_result {
    background: #FFF;
    border: 1px #ccc solid;
    border-radius: 4px;
    max-height:100px;
    overflow-y:scroll;
    display:none;
}

.dropdownvisible {
    max-height:100px;
    overflow-y:scroll;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

.search_result li:hover{
    background: #F9FF00;
}

ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}

.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}

/* Validation Engine*/
.formError {
    z-index: 990;
}
.formError .formErrorContent {
    z-index: 991;
}
.formError .formErrorArrow {
    z-index: 996;
}
.ui-dialog .formError {
    z-index: 5000;
}
.ui-dialog .formError .formErrorContent {
    z-index: 5001;
}
.ui-dialog .formError .formErrorArrow {
    z-index: 5006;
}
.inputContainer {
    position: relative;
    float: left;
}

.formError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    cursor: pointer;
    text-align: left;
}
.formError.inline {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}
.ajaxSubmit {
    padding: 20px;
    background: #55ea55;
    border: 1px solid #999;
    display: none;
}
.formError .formErrorContent {
    width: 100%;
    background: #111111;
    position: relative;
    color: #ffffff;
    min-width: 120px;
    font-size: 12px;
    padding: 4px 10px 4px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.greenPopup .formErrorContent {
    background: #95b75d;
}
.blackPopup .formErrorContent {
    background: #000;
    color: #FFF;
}
.formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position: relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
    margin: -2px 13px 0 0;
}
.formError .formErrorArrowBottom {
    margin: 0px 0 0 12px;
    top: 2px;
}
.formError .formErrorArrow div {
    font-size: 0px;
    height: 1px;
    background: #111111;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block;
}
.greenPopup .formErrorArrow div {
    background: #95b75d;
}
.blackPopup .formErrorArrow div {
    background: #000;
    color: #FFF;
}
.formError .formErrorArrow .line10 {
    width: 13px;
    border: none;
}
.formError .formErrorArrow .line9 {
    width: 11px;
    border: none;
}
.formError .formErrorArrow .line8 {
    width: 11px;
}
.formError .formErrorArrow .line7 {
    width: 9px;
}
.formError .formErrorArrow .line6 {
    width: 7px;
}
.formError .formErrorArrow .line5 {
    width: 5px;
}
.formError .formErrorArrow .line4 {
    width: 3px;
}
.formError .formErrorArrow .line3 {
    width: 1px;
}
.formError .formErrorArrow .line2 {
    width: 0px;
    border: none;
}
.formError .formErrorArrow .line1 {
    width: 0px;
    border: none;
}